* {
    margin: 0%;
    padding: 0%;
}
.navbar {
    height: 150px;
    display: flex;
}
.logo {
    height: 150px;
   margin-top: 20px;
   margin-left: 20px;
}
.navcontainer {
    margin-left: 300px;
    display: flex;
}
.link {
    font-size: 40px;
    text-decoration: none;
    color: black;
    padding: 50px 0px 0px 250px;
}
.link:hover {
    color: #3d3ddb;
}
button {
    margin-left: 400px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 80px 10px 80px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #357cda;
}
@media screen and (max-width:500px) {
 .logo {
    height: 80px;
    margin-top: 0px;
    margin-left: 0px;
 }  
 .navcontainer {
    flex-direction: column;
    margin-left: 120px;
    margin-top: 30px;
 } 
 .link {
    padding: 0px 10px 0px 10px;
    font-size: 3px;
    margin-top: 1px;
    background-color: black;
 }
 .link:hover {
    flex-direction: column;
    background: white;
    font-size: 15px;
    display: flex;
 }
    button {
        margin-left: 40px;
        height: 30px;
        margin-top: 25px;
        padding: 0px 20px 0px 20px;
        font-size: 15px;
        font-weight: 100;
    }
}